# This is the npm config file. See https://docs.npmjs.com/cli/v11/configuring-npm/npmrc

# Ignore postinstall scripts. See
# https://snyk.io/blog/ten-npm-security-best-practices/
ignore-scripts=true
allow-git=none
min-release-age=3

# See ./package.json > engines
engine-strict=true
